.container{
    display: flex;
    /* flex-direction: row | row-reverse | column | column-reverse
    flex-wrap: nowrap | wrap | warp-reverse
    flex-flow: <direction> <wrap>
    justify-content: flex-start | flex-end | center | space-between | space-around
    align-items : flex-start | flex-end | center | baseline | stretch
    align-content : flex-start | flex-end | center | space-between | space-around | stretch
    */
    /* flex-flow: row; */
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: stretch; */
}
.item{
    /* height: 150px; */
    flex:auto;
    height: 150px;
    width: 250px;
    /* flex-basis: 350px; */
    /* width:350px; */
}   
.one {
    /* height: 100px; */
    /* width: 200px; */
    /* flex-grow: 1; */
    background-color: rgb(49, 128, 165);
}

.two {
    /* width: 300px; */
    /* flex-grow: 2; */
    /* height: 150px; */
    /* flex:1 1 0%; */
    background-color: rgb(233, 111, 233);
}

.three {
    /* width: 200px; */
    /* flex-grow: 1; */
    /* height: 50px; */
    background-color: rgb(224, 161, 129);
}












.four {
    height: 200px;
    background-color: #f00;
}

.five {
    height: 175px;
    background-color: #f66;
}

.six {
    height: 125px;
    background-color: rgb(47, 248, 124);
}

.seven {
    height: 75px;
    background-color: #060;
}

.eight {
    height: 225px;
    background-color: #25f;
}

.nine {
    height: 250px;
    background-color: #555;
}