.demo {
    background: #000;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.container {
    height: 250px;
    color:#fff;
    font-size: 25px;

    /* 居中代码 */
    display: grid;
    grid-template-columns:50px;
    grid-template-rows: 50px;
    place-items: center;
    place-content: center;
    background-color: #eee;
}