.container {
    display: grid;
     /* grid-template-columns: 50px 100px 100px; */
    /* grid-template-columns:100px 100px 100px;
    grid-template-rows:100px 100px 100px; */
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-auto-flow: row dense;
    /* justify-items: center; */
    gap: 2px;
    height: 400px; 
    /* place-items: center;
    place-content: center; */
}
.item{
    font-size: 25px;
    color:#fff;
    text-align: center;
}
.one{
    /* place-self: center; */
    /* justify-self: center;
    align-self: center; */
    grid-area: 2/1/4/3;
    /* grid-column: 2/4;
    grid-row: 2/4; */
    /* grid-column: 1/span 2; */
    /* grid-row: 1/span 2; */
    /*grid-column-end: 3;
     grid-column-start: span 2;
    grid-row-start: 2;
    grid-row-end: 4; */
    background-color: #111;
}
.two {
    background-color: #f0f;
}
.three{
    background-color: #f50;
}
.four{
    background-color: #f00;
}
.five{
    background-color: #f66;
}
.six{
    background-color: rgb(47, 248, 124);
}
.seven{
    background-color: #060;
}
.eight{
    background-color: #25f;
}
.nine{
    background-color: #555;
}
.big-container{
    background: #eee;
    height: 500px;
}